<?xml version="1.0" encoding="UTF-8"?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div class="col-sm-9 no-padding">
        <div class="col-sm-6">
            <div wicket:id="name"/>
        </div>
        <div class="col-sm-3">
            <input wicket:id="arrivalTime" type="text" class="form-control">
        </div>
        <div class="col-sm-3">
            <input wicket:id="departureTime" type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-3 no-padding">
        <a wicket:id="moveUpLink" class="btn btn-default">
            <i class="fa fa-hand-o-up"></i>
        </a>
        <a wicket:id="moveDownLink" class="btn btn-default">
            <i class="fa fa-hand-o-down"></i>
        </a>
        <a wicket:id="deleteLink" class="btn btn-default">
            <i class="fa fa-times text-danger"></i>
        </a>
    </div>
</wicket:panel>
