.black-label{
    color: #000000 !important;
}
.user-logged-label{
    color: #ffffff !important;
}

.nav-logged{
    font-size: 17px !important;
}

.panel-grey {
    border-color: #5a5a5a;
}
.panel-grey > .panel-heading {
    color: #fff;
    background-color: #5a5a5a;
    border-color: #5a5a5a;
}
.panel-grey > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #5a5a5a;
}
.panel-grey > .panel-heading .badge {
    color: #5a5a5a;
    background-color: #fff;
}
.panel-grey > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #5a5a5a;
}

.btn-header-fix{
    display: inline !important;
}

.topic-panel{
    border: 3px solid #000000 !important;
    padding: 10px !important;
    border-radius: 15px !important;
}

.author-label{
    font-size: 12px !important;
    color: #5a5a5a;
    margin-right: 3px
}

.topic-panel:hover{
    background-color: #5a5a5a;
    color: #ffffff;
}

.topic-panel:hover .author-label
{
    color: #ffffff;
}

.bg-img {
    background: url("../img/Elegant_Background-18.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-container{
    min-height: 100vh !important;
    background-color: rgba(9, 7, 9, 0.80);
}

.has-error .select2-container-multi .select2-choices {
    border-color: #b94a48;
}

.select2-search-field > input,
.select2-search-field > input:focus {
    line-height: 1.42857;
    font-size: 12px !important;
    padding-left: 9px !important;
    margin-right: -10px !important;
}