<?xml version="1.0" encoding="UTF-8" ?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<div class="row">
		<div class="col-sm-2 col-xs-2" wicket:id="itemsPerPageToolbar">
			<span class="smart-form">
				<label style="width: 60px" class="select">
					<select name="dt_basic_length" size="1" wicket:id="itemsPerPageDropDown" aria-controls="dt_basic">
					</select>
					<i></i>
				</label>
			</span>
		</div>
		<div class="col-sm-4 col-xs-4">
			<div class="dataTables_info" id="dt_basic_info" wicket:id="navigationLabel">
			Showing 1 to 10 of 100 entries</div>
		</div>
		<div class="col-sm-6 col-xs-6 text-right" wicket:id="paginationToolbar">

		</div>
	</div>	
</wicket:panel>