<?xml version="1.0" encoding="UTF-8" ?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<div class="dataTables_paginate paging_bootstrap_full">
		<ul class="pagination">
			<li class="first"><a wicket:id="first"><wicket:message key="first"/></a></li>
			<li class="prev"><a wicket:id="prev"><wicket:message key="previous"/></a></li>
			<li wicket:id="navigation"><a wicket:id="pageLink"><wicket:message wicket:id="pageNumber">5</wicket:message></a></li>
			<li class="next"><a wicket:id="next"><wicket:message key="next"/></a></li>
			<li class="last"><a wicket:id="last"> <wicket:message key="last"/></a></li>
		</ul>
	</div>
</wicket:panel>